<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!--To change TextFileFormats you must replace value in format :"*.<format1>|*.<format2>|*.<format3>"-->
    <add key="TextFileFormats" value="*.txt" />
  </appSettings>
</configuration>